.tab-panel{
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    position: absolute;

    &.active{   
        margin-top: 40px;
        position: relative;
        opacity: 1;
        width: 100%;
        visibility: visible;


    }
}