@mixin bgc_for_list($colors) {
    @each $name, $color in $colors {
        &--#{$name} {
          background-color: $color;
        }
    }
}

@mixin generating_avarar_styles($colors, $opacity){
  @each $name, $color in $colors {
    $this: &;
    &--#{$name} {
      background-color: rgba($color, $opacity);

      #{$this}__icon{
        color: $color;
      }
    }
  }
}
