@mixin bgc_for_list($colors) {
    @each $name, $color in $colors {
        &--#{$name} {
          background-color: $color;
          &:hover{
            background-color: rgba($color, 0.8);
          } 
        }
    }
}


@mixin generating_avarar_styles($colors, $opacity){
  @each $name, $color in $colors {
    $this: &;
    &--#{$name} {
      background-color: rgba($color, $opacity);

      #{$this}__icon{
        color: $color;
      }
    }
  }
}

@mixin opacity_bg_with_element($colors, $opacity, $selector_bg, $selector_child, $property){
  @each $name, $color in $colors {
    $this: &;

    &--#{$name}{
      
      &#{$this}#{$selector_bg}{
        background-color: rgba($color, $opacity);
      }
    
      &#{$this}#{$selector_child}{
        #{$property}: $color;
      }
    }
  }
}

