//font
$Inter: 'Inter', sans-serif;


//colors
$dark_text: #011F3B;
$light_text: white;
$hint_text: #8DA1B5;
$secondary_text: #768492;

$primary: #5E81F4;
$secondary:#FFAE33;
$additional: #0CC3E7;
$disabled: $secondary_text;
$bg: #F5F5FB;

//indents
$topIndent: 50px;