@import '../../sass/var.scss';
@import '../../sass/mixins.scss';
$colors: ('primary': $primary, 'secondary': $secondary, 'additional': $additional, 'disabled': $disabled);

.btn{
    @include bgc_for_list($colors);

    border: none;
    cursor: pointer;

    color: $primary;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    transition-property: color,  background;
    padding: 7px 20px;
    font-weight: 500;
    text-decoration: none;
    outline: none;
    border-radius: $br10;

    &--text{
        background-color: transparent;

    
        &:hover{
            background-color: rgba($hint_text, 0.1);
        }
    }

    &--contained{
        color: $light_text;
        font-size: 16px;
        font-weight: bold;
        padding: 17px 40px;
        border-radius: 10px;

    }
    &--outlined{
        
    }
    

    &--disabled{
        background-color: $disabled;
    } 

}
