@import '../../sass/var.scss';
.tabs{
    position: relative;
    // display: flex;
    // width: max-content;
    &__indicator{
        position: absolute;
        bottom: -10px;
        height: 2px;
        border-radius: $br10;
        background-color: $primary;
        width: 20px;
        transform: translateX(-50%);
        transition: left 0.3s ease-in-out;
    }
    &__list{
  

    }
}

.tab{
    border: none;
    position: relative;
    color: $hint_text;

    &.active {
        color: $primary;
    }
}