@import './sass/var.scss';

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 270px auto 380px;
}

.h1{
  font-family: $Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  color: $dark_text;
}

.content{
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.main{
  padding: $topIndent 40px;
  background-color: $bg;
}
.aside{
  box-shadow: $shadow;
  padding: $topIndent 0;
}